<div class="booyah-box col-10 offset-1">
	<div class="row">
		<div class="col-sm-2">
			<%= image_tag 'user.png' %>
		</div>
		<div class="clear"></div>
		<div class="col-8">
			<h1><small><b><font color="#51c934"><%= @user.email %></font></small></b></h1>
			<h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
			<br />
			<h4>- <%= @user.comments.count %> total comments</h4>
			<h4>- <%= @user.comments.where(rating: '5_stars').count %> five-star review(s) in total</h4>
		</div>
	</div>
</div>

